# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
backend/venv/

# Node modules
node_modules/
frontend/node_modules/

# Environment variables
.env

# Uploads
uploads/
backend/uploads/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db